<h1><%= current_user.login %>'s Tasks</h1>
<p id='notice'><%= notice %></p>

<h2>To-do</h2>
<ul>
<% @todo_tasks.each do |task| %>
  <li>
    <%= task.title %><br/>
    <%= link_to 'Show', task %>
    <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to 'Done!', done_task_url(task) %>
  </li>
<% end %>
</ul>

<h2>Done</h2>
<ul>
<% @done_tasks.each do |task| %>
  <li>
    <%= task.title %><br/>
    <%= link_to 'Show', task %>
    <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>


<%= link_to 'New Task', new_task_path %>
